# Types of Objects in Python
 1. Immutable Objects
 2. Mutable Objects

## Immutable Objects
 1. int
 2. float
 3. string
 4. bool
 5. tuple

## Mutable Objects
1. List
2. Set
3. Dictionary

List

In [1]:
# List should me included  in the []
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [6]:
# list have a multiple data types
my_list = [1,2, 1.8, 'Girish', True]
print(my_list)
type(my_list)

[1, 2, 1.8, 'Girish', True]

list

In [7]:
print(my_list[0])
print(my_list[1])

1
2

In [8]:
# lists allow duplicate values
list_1 = [1,2,3,4,5,12,2,3]
print(list_1)

[1, 2, 3, 4, 5, 12, 2, 3]

In [9]:
# initiating an empty list
list_2 = []
print(list_2)

[]

In [10]:
# delete an item in a list
list_2 = [2, 3, 1.8, 'English', True, 6]
print(list_2)

del list_2[2]
print(list_2)

[2, 3, 1.8, 'English', True, 6]
[2, 3, 'English', True, 6]

# Tuple

In [11]:
tuple_1 = (2,3,4,5)
print(tuple_1)
type(tuple_1)

(2, 3, 4, 5)

tuple

In [12]:
# tuple allows multiple data types
tuple_2 = (1,2,3.5, 'Machine Learning', False)
print(tuple_2)

(1, 2, 3.5, 'Machine Learning', False)

In [13]:
my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [14]:
print(my_tuple[0])
print(my_tuple[1])

3
4

# Set

In [15]:
# set --> Curly brackets
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [16]:
# convert a list to a set
list_5 = [4,5,6,7,8]

x = set(list_5)
print(x)

{4, 5, 6, 7, 8}

In [17]:
# set does not allow duplicate values
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

In [19]:
my_dictionary = {'name':'Girish','age':21,'country':'India'}
print(my_dictionary)
type(my_dictionary)

{'name': 'Girish', 'age': 21, 'country': 'India'}

dict

In [20]:
print(my_dictionary['name'])
print(my_dictionary['age'])
print(my_dictionary['country'])

Girish
21
India