Programming Languages used for Machine Learning:<br>
    1. Python <br>
    2. R

# Print Function

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("Machine learning" + " Projects")

Machine learning Projects

In [1]:
print(8)

8

In [2]:
print(8+5)

13

# Basic data Types <br>
   1.  int <br>
   2.  float <br>
   3. string

In [6]:
type(10)

int

In [7]:
type(5.3)

float

In [8]:
type("Chamarajanagara")

str

# Constants and Variables

In [9]:
Mycity = " Chamarajanagara"
print(Mycity)

 Chamarajanagara

In [10]:
Mycity = "Santhemarahalli 571115"
print(Mycity)

Santhemarahalli 571115

In [12]:
city1,city2,city3 = "chamarajanagara","Mysuru","Mandya"
print(city1)
print(city2)
print(city3)

chamarajanagara
Mysuru
Mandya

In [14]:
x = y = z = 14
print(x)
print(y)
print(z)

14
14
14

# Input Function

In [21]:
number_1 = int(input("enter the first number :"))
number_2 = int(input("enter the second number :"))
sum = number_1 + number_2
print(sum)

enter the first number :14
enter the second number :06
20